.card {
    height: 240px;
    width: 400px;
    border-radius: 20px;
    color:white;
    margin:10px;
    font-size: 16px;
    box-shadow: 2px 2px 20px #707070;
    margin: 2rem;
    display: inline-block;
  }
  [v-cloak]{
    display: none;
 } 

  .color1{
    
    background-image: linear-gradient(to right top, #535353, #565656, #595959, #5d5d5d, #606060, #666666, #6c6c6c, #727272, #7d7d7d, #888888, #939393, #9e9e9e);
  }
  .color2{
   
    background-image: linear-gradient(to right top, #b06e37, #ba7c36, #c28b35, #c99a35, #ceaa36);
  }

  .color3{
   
    background-image: linear-gradient(to right top, #1f83c5, #6a7fcc, #9e77c6, #c86eb4, #e46a99, #f16f7c, #f17c60, #e68e47, #cca539, #a8ba44, #78cb66, #01d998);
  }
  .expired{
    color: red;
  }

  .top-block {
    margin-top: 0.3rem;
    display: inline-block;
    width:500px;
    height:155px;
  }
   .bottom-block {
    display: inline-block;
    width:500px;
    height:155px;
  }
  .card-chip {
    float:left;
    margin: 20px;
  }
  .card-name {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 18px;
    font-weight:550;
  }
  .balance {
    float:left;
    margin: 20px;
    position:relative;
    top:8px;
  }
  .card-balance {
    font-weight:700;
    font-size: 16px;
    margin-top:-2px;
    margin: 0.3rem;
  }
  .card-number {
    font-size: 18px;
    margin: -85px 0 0 0;
    text-align-last: center; 
  }

   @media screen and (max-width: 375px ){

    .card {
      height: 140px;
      width: 200px;
      border-radius: 20px;
      color:white;
      margin:10px;
      box-shadow: 2px 2px 20px #707070;
      margin: 2rem;
      display: inline-block;
    }  
    .top-block {
      margin-top: 0.3rem;
      display: inline-block;
      width:500px;
      height:155px;
    }
     .bottom-block {
      display: inline-block;
      width:500px;
      height:155px;
    }
  
    .card-name {
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 14px;
      font-weight:550;
     
    }
    .balance {
      float:left;
      margin: 5px;
      position:relative;
      top:2px;
    }
    .card-balance {
      font-weight:700;
      font-size: 14px;
      margin: 0.1rem;
   
    }
    .card-number {
      font-size: 14px;
      margin: -5rem;
      text-align-last: center; 
     
    }
  
  }
  @media screen and (max-width: 425px ){

    .card {
      height: 140px;
      width: 200px;
      border-radius: 20px;
      color:white;
      margin:10px;
      box-shadow: 2px 2px 20px #707070;
      margin: 2rem;
      display: inline-block;
    }  
    .top-block {
      margin-top: 0.3rem;
      display: inline-block;
      width:500px;
      height:155px;
    }
     .bottom-block {
      display: inline-block;
      width:500px;
      height:155px;
    }
  
    .card-name {
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 14px;
      font-weight:550;
     
    }
    .balance {
      float:left;
      margin: 5px;
      position:relative;
      top:2px;
    }
    .card-balance {
      font-weight:700;
      font-size: 14px;
      margin: 0.1rem;
   
    }
    .card-number {
      font-size: 14px;
      margin: -5rem;
      text-align-last: center; 
     
    }
  }
  @media screen and (max-width: 768px ){

    .card {
      height: 140px;
      width: 200px;
      border-radius: 20px;
      color:white;
      margin:10px;
      box-shadow: 2px 2px 20px #707070;
      margin: 2rem;
      display: inline-block;
    }  
    .top-block {
      margin-top: 0.3rem;
      display: inline-block;
      width:500px;
      height:155px;
    }
     .bottom-block {
      display: inline-block;
      width:500px;
      height:155px;
    }
  
    .card-name {
      margin-top: 1rem;
      margin-left: 2rem;
      font-size: 14px;
      font-weight:550;
     
    }
    .balance {
      float:left;
      margin: 5px;
      position:relative;
      top:2px;
    }
    .card-balance {
      font-weight:700;
      font-size: 14px;
      margin: 0.1rem;
   
    }
    .card-number {
      font-size: 14px;
      margin: -5rem;
      text-align-last: center; 
     
    }
  }
   

  
 
 
 
 
